.note-form {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 15%;
  right: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: slideUp;
  animation-duration: 0.4s;
}

@keyframes slideUp {
  from {
    top: 100vh;
  }

  to {
    top: 0;
  }
}

.note-form__input {
  border: none;
  background: transparent;
  font-size: 22px;
}

.note-form__input:focus {
  outline: none;
}

.note-form__title {
  text-align: center;
  font-weight: bolder;
  margin: 15px 0;
}

.note-form__title-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.notes__add-button {
  font-size: 16px;
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
}

.note-form__submit-button {
  border: none;
  background-color: transparent;
  padding: none;
  font-size: 25px;
  color: black;
}

.note-form__submit-button:hover {
  color: green;
}

.notes__button:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

.note-form__color-input {
  border: transparent;
  padding: 0;
  height: 25px;
  background-color: transparent;
}

.hidden {
  visibility: hidden;
}

.container {
  width: 100%;
}

.container .ql-toolbar,
.container .ql-container {
  border: none;
}

.container .ql-toolbar {
  display: flex;
  justify-content: center;
}

.container .ql-container {
  width: 80%;
  margin: 0 auto;
  height: 80vh;
}
