.notes__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.notes__card {
  width: 200px;
  height: 200px;
  background-color: rgb(119, 204, 111);
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.notes__card-content {
  overflow-y: hidden;
}
