.notebooks__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notebooks__header-title {
  font-size: 25px;
  font-weight: bold;
  margin: 50px 0 30px 50px;
}

.notebooks__add-button {
  margin: 40px 50px 10px 0;
  font-size: 16px;
  border: none;
  padding: 10px;
  background-color: transparent;
}

.notebooks__add-button:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

.notebooks__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-between;
  justify-items: center;
  margin: 0 20px;
}

.notebooks {
  align-items: center;
  justify-content: center;
}

.notebooks__cover {
  height: 100%;
  width: 100%;
  border-radius: 0 10px 10px 0;
  margin: 20px 0;
  background-size: cover;
  /* animation-name: stretch;
  animation-duration: .2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1; */
}

/* @keyframes stretch {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    height: 200px;
    width: 145px;
  }
} */

.notebooks__cover-overlay {
  position: relative;
  height: 200px;
  width: 145px;
}

.notebooks__cover-overlay:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height:100%;
  top: 20px;
  left: 0;
  background:rgba(0,0,0,0.6);
  border-radius: 0 10px 10px 0;
  opacity: 0;
  transition: all .5s;
}

.notebooks__cover-overlay:hover:after {
  opacity: 1;
}

.notebooks__title {
  margin-top: 30px;
  text-align: center;
}

.notebooks__button {
  position: relative;
  bottom: 70px;
  left: 60px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
