.nav__container {
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 100;
  font-size: 14px;
  margin: 10px;
}

.active {
  background-color: black;
  color: white;
  border-radius: 5px;

}

.nav__section3 {
  background-color: black;
}

.nav__icon {
  font-size: 20px;
  padding: 15px 10px;
}

.nav__icon--white {
  color: white;
}
